<?xml version="1.0" ?>
<robot name="collada">

    <!-- Base link -->
    <link name="base">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="collada.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <!-- Main Body -->
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0.08"/>
            <geometry>
                <box size="0.531 0.27 0.24"/>
            </geometry>
        </collision>
    </link>
</robot>
